
@import url("../../external/css/materialize.css");

@font-face {
 font-family:Lobster ;
 src: local("Lobster"),url("fonts/lobster.ttf");
}

html {
 
 font-family: Lobster;
 font-weight: normal;

}


#screen {
 
 font-family: Lobster;
 font-weight: normal;
 background-color:#eaedf1;

}

.test-font{

 font-family: Lobster;
 font-weight: normal;

}


/*---- up navs ----*/


nav {
 position: absolute;
 vertical-align: middle;
 height: 88px;
 line-height: 88px;
 text-align: center;
 font-family:Lobster;
 font-size: 40px;
 background-color: #323a45;
 z-index:99;
}


nav .brand-logo {
 left:initial;
 width: 72px;
 height: 56px;
 margin-top: 15px;
 background: url('../img/1scr_basket@2x.png') no-repeat;
 background-position: center;
}
/*--- end ---*/

/* main list page*/



.collection .collection-item.avatar {

	height: 117px;
	cursor: pointer;
	padding: 5px 20px;
	vertical-align: middle;
}


.collection .collection-item.avatar p {

	position: absolute;
	left:150px;
	height: 100%;
	color:#323a45;
	font-size: 40px;
	font-family: Lobster;
}

.collection-item:hover {

	cursor: pointer;
	background-color: #9ea7b3;
}

.collection .collection-item.avatar .circle {
	background-color: #fff; 
	height:105px;
	width: 105px;
}

span.badge {
    
    padding:2px;
    width: 63px;
    background-color: #9ea7b3;	
    border-radius: 25px;
    top:20px;
    right: 53px;
    height: 63px;
    font-size: 40px;
    padding-top:18px;
    color: #fff; 
}

.collection-item:hover span.badge{
	border-radius: 25px;
	background-color: #f27935;		
}

#main{
 position: absolute;
 top: 88px;
 width: 100%;
 font-family: Lobster;
 font-weight: normal;
 background-color:#eaedf1;
 height:100%;
}


/* -----dish page -----*/
.dish_main {
 position: absolute;
 top:88px;	
 width:100%;
 height: 100%;
}


.back_img {

position: absolute;
top:0px;

}

.about {
position: absolute;
top:0px;
font-family: Helvetica Neue;
color:white;
width:100%;
height:142px;
background:rgba(0,0,0,0.5);
z-index:99;
}

.right_arrow{
	z-index: 98;
	position:absolute;
	top:0%;
	right:0px;
	width:32px;
	height:100%;
	background: url('../img/2scr_right_arrow@2x.png') no-repeat;
	background-position: center;	
}

.right_arrow:hover,.left_arrow:hover{
	z-index: 98;
	background-color: grey;
	cursor: pointer;
}

.left_arrow{
    z-index: 98;
    position:absolute;
    top:0%;
    left:0px;
    width:32px;
    height:100%;
    background: url('../img/2scr_left_arrow@2x.png') no-repeat;
    background-position: center;
}

.right_arrow_button{



}

/*------end-------*/
