<nav>
  Bella Pronta
  <a href="#" class="brand-logo right"></a>
</nav>
<div id="main">
  <ul class="collection">
   
    {{# var group = _.groupBy(this.model.toJSON(),function(dish){
            return dish.type;
          });
         for(var cat in group){
    
     }}
   <li class = "collection-item avatar" data={{ group[cat][0].id_type  }}>
    <img src="source/assets/img/{{ group[cat][0].id_type  }}.png" class="circle">
    <p class="valign-wrapper">{{ cat }}</p><span class ="badge">{{ group[cat].length }}</span>
   </li>
  {{# }; }}
  </ul>
</div>
